/* Defaultní Light mode */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(190, 160, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: all 0.3s ease;
    --text-color: black;
    --window-color: rgb(233, 195, 123);
    --title-bar: rgb(255, 221, 159);
    overflow: hidden;
}

.window {
    position: absolute;
    text-align: center;
    background-color: var(--window-color);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.title-bar {
    background-color: var(--title-bar);
    padding: 10px;
    cursor: move;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

 /* Defaultní darke mode */
body.dark-mode {
    background-color: rgb(25, 25, 25);
    --text-color: rgb(255, 255, 255);
    --window-color : rgb(60, 60, 60);
    --title-bar: rgb(80, 80, 80);
}

/*Textové elementy nastavení*/
h1, h2, h3, h4, h5, h6, p, span, label, li, #feedback {
    color: var(--text-color);
    transition: color 0.3s ease;
}
/* Styl tlačítek */
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: rgb(75, 175, 80);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(75, 175, 80, 0.7);
}

/*Game bar*/
#guess {
    padding: 5px;
    font-size: 16px;
    width: 8px;
    text-align: center;
}

#history {
    list-style-type: none;
    padding: 0;
}

#history li {
    margin: 5px 0;
    color: var(--text-color);
    transition: color 0.3s ease;
}

#number-inputs {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.digit-input {
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 2px solid #555;
    background: #222;
    color: white;
}

.digit-input:focus {
    border-color: #0f0;
}

.hidden {
    display: none;
}