/* Defaultní Light mode */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(190, 160, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: all 0.3s ease;
    --text-color: black;
    overflow: hidden;
}

body.dark-mode {
    background-color: rgb(25, 25, 25);
    --text-color: rgb(255, 255, 255);
}

.game-container {
    text-align: center;
    background-color: rgb(233, 195, 123);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: background-color 0.3s ease;
}

body.dark-mode .game-container {
    background-color: rgb(42, 42, 42);
}
/*Textové elementy nastavení*/
h1, h2, h3, h4, h5, h6, p, span, label, li, #feedback {
    color: var(--text-color);
    transition: color 0.3s ease;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
/*Animace na pozadí*/
#background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.animal {
    z-index: -1;
    width: 50px;
    height: 50px;
    background-image: url('animal.png');
    background-size: cover;
    position: absolute;
}
/*Game bar*/
#toggleMode {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#toggleMode:hover {
    background-color: #45a049;
}

input {
    padding: 5px;
    font-size: 16px;
    width: 80px;
    text-align: center;
}

button {
    padding: 8px 16px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

body.dark-mode button:hover {
    background-color: #6e9e3a;
}

#history {
    list-style-type: none;
    padding: 0;
}

#history li {
    margin: 5px 0;
    color: var(--text-color);
    transition: color 0.3s ease;
}